header nav {
  margin: 0% 8% 0% 8%;
}

footer {
  display: inline;
  text-align: center;
  color: gray;
  font-size: small;
}

@media (min-width: 200px) and (max-width: 800px) {
  footer {
    display: inline;
    text-align: center;
    color: gray;
    font-size: 50%;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "columna1 columna2 columna3 columna4";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30% 8% 0% 8%;
  border-top: 0.5px solid gray;
}
.grid-container .columna1 {
  grid-area: columna1;
}
.grid-container .columna2 {
  grid-area: columna2;
}
.grid-container .columna3 {
  grid-area: columna3;
}
.grid-container .columna4 {
  grid-area: columna4;
}

ul {
  list-style: none;
}
ul .lista {
  color: gray;
  margin-top: 15%;
}
ul .lista:hover {
  color: #1c3b33;
  text-decoration: underline;
}
ul .lista a {
  text-decoration: none;
  color: gray;
}

@media (min-width: 200px) and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "columna1" "columna2" "columna3" "columna4";
    gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30%;
    border-top: 0.5px solid gray;
  }
  .grid-container .columna1 {
    grid-area: columna1;
    border-top: 1px solid black;
  }
  .grid-container .columna2 {
    grid-area: columna2;
    border-top: 1px solid black;
  }
  .grid-container .columna3 {
    grid-area: columna3;
    border-top: 1px solid black;
  }
  .grid-container .columna4 {
    grid-area: columna4;
    border-top: 1px solid black;
  }
  ul {
    list-style: none;
  }
  ul .lista {
    color: gray;
    margin-top: 15%;
  }
  ul .lista:hover {
    color: #1c3b33;
    text-decoration: underline;
  }
  ul .lista a {
    text-decoration: none;
    color: gray;
  }
}
.flex-home1 {
  display: flex;
  flex-direction: row;
  background-color: #e281a9;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
}
.flex-home1 .flex-alineacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
.flex-home1 .flex-alineacion .un-momento-parrafo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 300%;
  color: white;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-home1 .flex-alineacion .este-verano-parrafo {
  color: white;
  font-weight: bolder;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex-home2 {
  display: flex;
  flex-direction: row;
  background-color: #d5eae3;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5px;
}
.flex-home2 .flex-alineacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-right: 5%;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-home2 .flex-alineacion .unete-parrafo {
  color: #066540;
  font-weight: bolder;
  font-size: 250%;
}
.flex-home2 .flex-alineacion .revisa-parrafo {
  color: #066540;
  font-weight: bolder;
}

@media (min-width: 200px) and (max-width: 800px) {
  .flex-home1 {
    display: flex;
    flex-direction: column;
    background-color: #e281a9;
    margin-bottom: 3%;
  }
  .flex-home1 .un-momento-parrafo {
    font-size: 150%;
    color: white;
  }
  .flex-home2 {
    display: flex;
    flex-direction: column;
    background-color: #d5eae3;
    margin-left: 7%;
    margin-right: 7%;
  }
  .unete-parrafo {
    color: #066540;
    font-size: 150%;
  }
  .revisa-parrafo {
    color: #066540;
  }
}
.body-menu {
  margin: 0% 8% 0% 8%;
}
.body-menu .disdrutalos {
  font-size: large;
}
.body-menu .conoce {
  font-size: 30px;
}
.body-menu .bebida {
  font-size: 100%;
  margin-top: 70px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 20px;
}
.body-menu .comida {
  font-size: 100%;
  margin-top: 70px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 20px;
}
.body-menu .en-casa {
  font-size: 100%;
  margin-top: 70px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 20px;
}

@media (min-width: 200px) and (max-width: 800px) {
  .body-menu .disdrutalos {
    font-size: 20px;
  }
  .body-menu .conoce {
    font-size: 15px;
  }
  .body-menu .bebida {
    font-size: 18px;
    margin-top: 70px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
  }
  .body-menu .comida {
    font-size: 18px;
    margin-top: 70px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
  }
  .body-menu .en-casa {
    font-size: 18px;
    margin-top: 70px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
  }
}
.nuestro-cafe {
  font-size: 350%;
  font-weight: bolder;
  color: white;
  background-color: #1c3b33;
  text-align: center;
  padding: 70px;
}

.body-cafe {
  margin-left: 30%;
  margin-right: 30%;
}
.body-cafe .primer-parrafo-cafe {
  margin-top: 5%;
}

@media (min-width: 200px) and (max-width: 800px) {
  .nuestro-cafe {
    font-size: 200%;
    text-align: left;
    padding: 30px;
  }
  .body-cafe {
    margin-left: 3%;
    margin-right: 3%;
  }
}
.experiencia {
  font-size: 350%;
  font-weight: bolder;
  color: white;
  background-color: #1c3b33;
  text-align: center;
  padding: 40px;
}

.parrafo-experiencia {
  margin: 3% 30% 5% 30%;
}

.flex-instore {
  display: flex;
  flex-direction: row;
  margin: 0% 15% 5% 15%;
  background-color: #f3f3eb;
  padding: 8px;
}
.flex-instore .instore {
  font-size: 200%;
  font-weight: bolder;
}
.flex-instore .parrafo-store {
  font-size: 150%;
}

.flex-drive {
  display: flex;
  flex-direction: row;
  margin: 0% 15% 5% 15%;
  background-color: #f3f3eb;
  padding: 8px;
}
.flex-drive .drive {
  font-size: 200%;
  font-weight: bolder;
}
.flex-drive .parrafo-drive {
  font-size: 150%;
}

.flex-delivery {
  display: flex;
  flex-direction: row;
  margin: 0% 15% 5% 15%;
  background-color: #f3f3eb;
  padding: 8px;
}
.flex-delivery .delivery {
  font-size: 200%;
  font-weight: bolder;
}
.flex-delivery .parrafo-delivery {
  font-size: 150%;
}

@media (min-width: 200px) and (max-width: 800px) {
  .experiencia {
    font-size: 189%;
  }
  .parrafo-experiencia {
    margin: 10% 5% 15% 5%;
    text-align: center;
  }
  .flex-instore {
    display: flex;
    flex-direction: column;
    margin: 0% 5% 10% 5%;
  }
  .flex-instore .instore {
    font-size: 150%;
  }
  .flex-instore .parrafo-store {
    font-size: 100%;
  }
  .flex-drive {
    display: flex;
    flex-direction: column;
    margin: 0% 5% 10% 5%;
  }
  .flex-drive .drive {
    font-size: 150%;
  }
  .flex-drive .parrafo-drive {
    font-size: 100%;
  }
  .flex-delivery {
    display: flex;
    flex-direction: column;
    margin: 0% 5% 10% 5%;
  }
  .flex-delivery .delivery {
    font-size: 150%;
  }
  .flex-delivery .parrafo-delivery {
    font-size: 100%;
  }
}
.nuestra-historia {
  font-size: 350%;
  font-weight: bolder;
  color: white;
  background-color: #1c3b33;
  text-align: center;
  padding: 40px;
  margin-bottom: 5%;
}

.body-nuestra {
  margin-left: 30%;
  margin-right: 30%;
}
.body-nuestra .parrafo1 {
  text-align: center;
  margin-top: 7%;
}
.body-nuestra .parrafo2 {
  text-align: center;
  margin-top: 7%;
}
.body-nuestra .parrafo3 {
  text-align: center;
  margin-top: 7%;
}
.body-nuestra .parrafo4 {
  text-align: center;
  margin-top: 7%;
}
.body-nuestra .parrafo5 {
  text-align: center;
  margin-top: 7%;
}
.body-nuestra .parrafo6 {
  text-align: center;
  margin-top: 7%;
}

@media (min-width: 200px) and (max-width: 800px) {
  .nuestra-historia {
    font-size: 189%;
  }
  .parrafo1 {
    font-size: small;
    text-transform: capitalize;
  }
  .parrafo2 {
    font-size: small;
    text-transform: capitalize;
  }
  .parrafo3 {
    font-size: small;
    text-transform: capitalize;
  }
  .parrafo4 {
    font-size: small;
    text-transform: capitalize;
  }
  .parrafo5 {
    font-size: small;
    text-transform: capitalize;
  }
  .parrafo6 {
    font-size: small;
    text-transform: capitalize;
  }
  .body-nuestra {
    margin-left: 3%;
    margin-right: 3%;
  }
}

/*# sourceMappingURL=style.css.map */
