footer{
    display: inline;
    text-align: center;
    color: gray;
    font-size: small;
}

@media (min-width:200px) and (max-width:800px){
    footer{
        display: inline;
        text-align: center;
        color: gray;
        font-size: 50%;
    }
}